

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  transition: 0.5s;
  z-index: 10;
}

header.scrolled {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid var(--primary);
  border-image: linear-gradient(90deg, transparent, var(--primary), transparent) 
    30;
  backdrop-filter: blur(20px);
  padding: 10px 100px;
}

.logo {
  font-family: "Sail", sans-serif;
  font-size: 35px;
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;   /* Could be "uppercase", but not with this font */
}

.nav {
  display: flex;
}

