

.nav li {
  list-style: none;
  margin: 0 20px;
}

.nav li .link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.nav li .link:hover,
.nav li a.active {
  color: var(--primary)
}