

.search {
  position: relative;
  width: 300px;
  height: 40px;
  
}

.search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: transparent;
  border: 1px solid rgba(255, 255, 2555, 0.5);
  padding: 0px 10px 0px 45px !important;
  backdrop-filter: blur(10px);
}

.search input::placeholder {
  color: #ffffff;
}

.search .bi-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  padding-right: 10px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
}