@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #ff3700;
}

body {
  color: #ffffff;
  background-color: #141414;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

